<% if !current_page?(:action=>"new", :building_id=>@building.id, :controller=>"engagements") %>
	<p class="selectLabelInput"> Editado por <%= current_user.email %></p>
	<%= f.input :edited_by, :as => :hidden, input_html: {value: current_user.id} %>
<% end %>