<% if current_user %>
	<% if  Engagement.where({building_id: @building.id, user_id: current_user.id, access: 'admin'}).count > 0 %>
			<td class='showTd'> Administrador</td>
	<% elsif Engagement.where({building_id: @building.id, user_id: current_user.id, access: 'colaborador'}).count > 0 %>
		<td class='showTd'>Colaborador</td>
	<% end %> 
<% end %>

      