
/*.noticeWrapper{
  background-color: #62f1d6;
  text-align: center;
}

.notice, .alert{
  margin-top: 3% !important;
  padding-bottom: 2%;
}

.alertWrapper{
  background-color: red;
  text-align: center;
}*/


.alert, alert-danger {
  padding: 0.5rem 1rem;
  margin-left: 15%;
  margin-right: 15%;
}
.alert-success {
  color: #14744c !important;
  background-color: #02f2b9 !important;
  border-color: 02f2b9 !important;
}
.contated-notice{
  font-size: 1.29em;
}
.notice, .alert{
  margin-top: 1% !important;
  padding-bottom: 2%;
}