/*.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  
}*/

.container-fluid {
   width: 100%;
   //padding-top: 10%;
   padding-right: 0 !important;
padding-left: 0 !important;
margin-right: 0 !important;
margin-left: 0 !important;
}

bg-color-test {
  background-color: #00ffcf;
}

.userSignedIn {
    margin-bottom: 30px;
    text-align: center;
     font-weight: 700;
}


// Building

#building_buildingtype {
    margin-bottom: 35px;
}

.spaceBottom {
   margin-bottom: 75px;
}


// Engagements

.selectLabelInput {
  font-weight: 700;
}

#engagement_role {
    margin-bottom: 30px;
}

.bold {
  font-weight: 700;
}

