/*.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  
}*/

.container-fluid {
   width: 100%;
   //padding-top: 10%;
   padding-right: 0 !important;
padding-left: 0 !important;
margin-right: 0 !important;
margin-left: 0 !important;
}

.nav-pills .nav-link {
    border-radius: 0.25rem !important;
    background: #f5fafa;
    color: black;
    border: 0.9px solid #8b8fb7;
}

.editLink {
  background-color: #fcff00 !important;
  color: black !important;
  border: 1px solid #dada0b !important;
  width: 140px;
  text-align: center;
}

.usernamePill {
    width: 100%;
}

bg-color-test {
  background-color: #00ffcf;
}

.userSignedIn {
    margin-bottom: 30px;
    text-align: center;
     font-weight: 700;
}

.showTable {
    margin-top: 3%;
}

.showTh {
  width: 40%;
  padding-left: 5% !important;
}


#building_buildingtype {
    margin-bottom: 35px;
}

.spaceBottom {
   margin-bottom: 75px;
}


// Engagements

.selectLabelInput {
  font-weight: 700;
}

#engagement_role {
    margin-bottom: 30px;
}

.bold {
  font-weight: 700;
}



/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */

@media (max-width: 768px) and (orientation : portrait) {
  .showTh {
      width: 30% !important;
  } 
  .showTd {
    padding-left: 5% !important;
     width: 70% !important;
  }
}

@media (max-width: 576px) and (orientation : portrait) {
  .showTh {
    padding: 0.75rem !important;
  }
  .showTd {
    padding-left: 15% !important;
  }
}

@media (max-width: 420px) and (orientation : portrait) {
  .indexTitle {
      font-size: 1.7rem !important;
      font-weight: 400;
  }
  .showTh {
    width: 30% !important;
    padding-left:0% !important;
  } 
  .showTd {
    padding-left: 3% !important;
    width: 70% !important;
  }
}



/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (max-width: 1024px)  and (orientation : landscape){

}

@media (max-width: 825px)  and (orientation : landscape){
    .indexTitle {
      font-size: 1.8rem !important;
      font-weight: 400;
  }
  .sidebarRow {
    margin: 3% !important;
  }
}

@media (max-width: 800px)  and (orientation : landscape){

}

@media (max-width: 731px)  and (orientation : landscape){

}

@media (max-width: 670px)  and (orientation : landscape){
  .indexTitle {
      font-size: 1.9rem !important;
      font-weight: 400;
  }
}


  
