.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}


// Building
#building_buildingtype {
    margin-bottom: 35px;
}

// Engagements
.roleInput {
  font-weight: 700;
}

#engagement_role {
    margin-bottom: 30px;
}

.engagementLink {
  
}