/*.container {
    width: 100%;
    //padding-right: 5px;
    //padding-left: 5px;
    //margin-right: auto;
    //margin-left: auto;
}*/

.containerNoUser {
  //max-width: 2000px;
  width: 100%;
  margin-left: 1.5% !important;
  margin-right: 7%!important;
  margin-top: 1% !important;
}


a.btn-login, a.btn-signup {
  background-color: #007fed;
  min-width: 10%;
  color: white;
}

.bg-color-test {
  background-color: #0694e9;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: white;
  font-weight: 500;
}


.signup-card, .signin-card {
  padding: 50px;
  margin-top: 5%;
}

.signin-card, .signup-card  {
    width: 28rem !important;
}

a.btn.btn-back {
    background-color: #0d0d0dd4;
    color: #ffffffed;
}

input#user_remember_me {
    margin-right: 10px;
}


.login, .signup {
    font-size: 2rem !important;
}
.signup-label, .signin-label, .rememberme, .forgotPassword  {
    font-size: 1.2rem !important;
}
a.forgotPassword:hover {
    color: black;
    background: #fffd08f5;
    pading: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
}
.singup-input, .signin-input {
    border-color: #ffffff24 !important;
    width: 80% !important;
    font-size: 1.2rem important;
    text-align: center !important;
}
.btn-signup-login {
    color: white !important;
}
.flex-fill {
    flex: 1 1 auto;
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(250, 247, 247, 0) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 3vmin !important;
}
/* Forgot Password Button */
.message {
    font-size: 1.5rem !important;
}
.forgotBut {
    margin-top: 50px !important;
}
.emailforgotPass {
    margin-top: 50px !important;
}
/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 1200px){
  .signup-label, .signin-label, .rememberme, .forgotPassword {
    font-size: 1rem !important;
  }
  .singup-input, .signin-input {   
    font-size: 0.9rem !important;
  }
} 
/* ========================================================= */
@media (max-width: 992px) { 
  .login, .signup {   
      font-size: 1.5rem !important;      
  }
  .signup-label, .signin-label, .rememberme, .forgotPassword  {
      font-size: 1.1rem !important;
  }
  .singup-input, .signin-input {   
    font-size: 1rem !important;
  }
}
/* ========================================================= */
@media (max-width: 767px) and (orientation : portrait) {
    .login, .signup {   
        font-size: 1.3rem !important;      
    }
}
/* ========================================================= */
@media (max-width: 650px) and (orientation : portrait) {
  .signup-label, .signin-label, .rememberme, 
  .forgotPassword  {
      font-size: 1rem !important;
  }
  .singup-input, .signin-input {   
      font-size: 0.9rem !important;      
  }
  .btn-devise {
      line-height: 1.3 !important;
  }
}
/* ========================================================= */
@media (max-width: 576px) and (orientation : portrait) {
  .container {
    margin-left: 0% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
  }
}
/* ========================================================= */
@media (max-width: 410px) and (orientation : portrait) {
  .login, .signup {   
      font-size: 1.1rem !important;      
  }
}
/* ========================================================= */
@media (max-width: 320px) and (orientation : portrait) {
  .message {
   font-size: 0.65rem !important;
  }
  .btn-devise {
  line-height: 1.2 !important;
  }
}
/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */
@media (min-width: 1024px) and (orientation : landscape) {
}
/* ========================================================= */
@media (max-width: 1024px) and (orientation : landscape) {
}
/* ========================================================= */
@media (max-width: 992px) and (orientation : landscape) {
}
/* ========================================================= */
@media (max-width: 568px) and (orientation : landscape) {
}
