.blueTop-bar {
  color: white;
  padding-top: 3%;
  background-color: #0694e9;
  text-align: center;
  font-weight: 500;
  padding-bottom: 3%;
}

.centralContainer {
  min-width: 100% !important;
}

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */
@media (max-width: 576px) and (orientation : portrait) {
  .container {
    margin-left: 0% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
  }
}