
<% if current_user.present? %>
	<div class="userSignedIn"> 
		You are signed in as: <%=current_user.email.capitalize %>
	</div> 
<% end %>


<div class="mb-5"> 
 
  <% if current_user.present? && !current_page?(controller: 'buildings') %>	
		<a><%= link_to 'Entes Residenciales', buildings_path, class: "mr-5" %></a>
  <% end %>
</div>

