<div class="mb-5">  

  <%= link_to 'Home', root_path, class: "mr-5" %>

  <% if current_user.present? && current_user.admin? && !current_page?(controller: 'buildings') %>	
		<%= link_to 'Conjuntos', buildings_path, class: "mr-5" %>
  <% end %>




</div>


<!-- 
  <%# if current_user.present? && current_user.admin? && !current_page?(controller: 'buildings', action: 'index')  %> 



  	<%#= link_to 'Engagements', building_engagements_path(@building), class: "mr-5" %>

  <%# end %> -->